# ===== LAN 参数 =====
# 由 setup.sh 自动检测并生成，通常无需手动编辑
LAN_PARENT=
LAN_SUBNET=
LAN_GATEWAY=
BYPASS_IP=

# ===== Tailscale 参数 =====
TS_AUTHKEY=
TS_HOSTNAME=bypass-router
TS_ROUTES=
TS_EXTRA_ARGS=--advertise-exit-node --accept-dns=false

# ===== 其他 =====
TZ=Asia/Shanghai
